body{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin: 0;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    font-size: 50px;
    color: #575757;
}
p{
    color: #828282;
}
.half-width{
    width: 50%;
}
.middle-sec{
    background-image: url(images/middle-bg.jpg);
    background-repeat: no-repeat;
}
.top-left{
    padding-left: 50px;
    padding-top: 60px;
}
.flexible-content{
    display: flex;
}
.blue-color{
    color: #12B4FB;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    padding: 30px 60px;
    background-image: linear-gradient(#13B5FC, #A5D4EE);
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.align{
    text-align: center;
}
.less-than-h1{
    font-size: 35px;
}
.social{
    margin: 0 10% 120px 10%;
    box-shadow: 2px 2px 30px rgba(128, 128, 128, 0.37);
    border-radius: 20px;
    height: 200px;
}
.one-third-width{
    width: 33.33%;
    text-align: center;
}
p{
    font-size: 23px;
}
.middle-text{
    padding-right: 180px;
}
.eat-fresh-heading{
    text-align: center;
    font-size: 35px;
}
.eat-fresh {
    background-color: #0B0D17;
    padding-top: 30px;
    padding-bottom: 120px;
}
.eat-fresh-paragrah{
    text-align: center;
}
.ash-color{
    color: #4F4F51;
}
.recipe-img img{
    width: 100%;
    border-radius: 30px;
}
.recipe-img{
    margin: 5%;
    box-shadow: 1px 10px 10px 10px;
    width: 40%;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgba(128, 128, 128, 0.37);
}
#a{
    width: 40%;
    margin-left: 7.5%;
    margin-right: 2.5%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}
#b{
    width: 40%;
    margin-right: 7.5%;
    margin-left: 2.5%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
